<template>
    <div class="login-page">
        <div class="login-form">
            <h2>Acesso Restrito</h2>
            <form class="el-form" onsubmit="return false;">
                <el-input v-model="user.email"
                          placeholder="Digite seu email"></el-input>
                <el-input v-model="user.password"
                          type="password"
                          placeholder="Digite sua senha"></el-input>
                <button type="submit"
                        @click="doLogin" class="el-button el-button--primary"
                        :disabled="!isValid">Acessar o Sistema
                </button>
            </form>
        </div>
    </div>
</template>

<script>
  import { mapActions } from 'vuex'
  import { isEmpty } from 'lodash'

  export default {
    data () {
      return {
        user: {
          email: '',
          password: ''
        }
      }
    },
    methods: {
      ...mapActions(['login']),
      doLogin () {
        const user = this.user
        this.login({...user})
          .then(() => {
            this.$router.push('/')
          })
      }
    },
    computed: {
      isValid () {
        const user = this.user
        return !isEmpty(user.email) && !isEmpty(user.password)
      }
    }
  }
</script>

<style lang="scss">
    .login-page {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: #f3f3f3;

        .login-form {
            width: 380px;
            height: 380px;
            padding: 20px;

            h2 {
                text-align: center;
                font-weight: 300;
            }

            form {
                border: 1px solid #CCC;
                background-color: #FFF;
                padding: 30px;
                border-radius: 4px;

                input {
                    margin-bottom: 8px;
                    border-radius: 3px;
                    border-color: #d9d9d9;
                    padding: 12px 18px;
                    line-height: 1;
                    font-size: 14px;
                }
                button {
                    width: 100%;
                }
            }
        }
    }
</style>
