<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'app-header',
    computed: {
      ...mapGetters(['isLogged', 'currentUser'])
    },
    data () {
      return {
        activeIndex: '1'
      }
    },
    methods: {
      ...mapActions(['logout']),
      doLogout () {
        this.logout()
          .then(() => {
            this.$router.push('/auth')
          })
      }
    }
  }
</script>

<template>
    <el-menu theme="dark" :default-active="activeIndex" class="el-menu-demo" mode="horizontal" v-if="isLogged">
        <el-menu-item index="1">
            <router-link :to="{ name: 'dashboard.main' }">Dashboard</router-link>
        </el-menu-item>
        <el-menu-item index="2">
            <router-link :to="{ name: 'client.index' }">Cliente</router-link>
        </el-menu-item>
        <el-submenu index="3" class="el-submenu-right">
            <template slot="title">{{ currentUser.name }}</template>
            <el-menu-item index="3-1">Meus Dados</el-menu-item>
            <el-menu-item index="3-2">Alterar Senha</el-menu-item>
            <el-menu-item index="3-3" @click="doLogout">Sair</el-menu-item>
        </el-submenu>
    </el-menu>
</template>
