<script>
  import * as restfulService from '../../../services/restfulService'
  import DataService from '../../../services/dataService'

  export default {
    data () {
      return {
        form: {
          category_id: ''
        },
        dependencies: {}
      }
    },
    created () {
      this.getDependencies()
      const id = this.$route.params.id || null
      if (id) {
        restfulService.get('client', id)
          .then(response => {
            this.form = response
          })
          .catch(e => {
            console.log(e)
          })
      }
    },
    methods: {
      getDependencies () {
        DataService.get([{domain: 'client_categories'}]).then((result) => {
          this.dependencies = result
        })
      },
      onSend () {
        restfulService.save('client', null, this.form)
          .then(() => {
            this.$router.push('/client')
          })
          .catch(e => {
            console.log(e)
          })
      }
    }
  }
</script>

<template>
    <div>
        <div class="app-header">
            <h2>Clientes</h2>
        </div>

        <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Nome">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="CPF">
                <el-input v-model="form.cpf"></el-input>
            </el-form-item>
            <el-form-item label="Tipo de Pessoa">
                <el-select v-model="form.category_id"
                           filterable
                           placeholder="Selecione um tipo"
                           empty-text="Nenhum registro encontrado"
                           class="el-select-full">
                    <el-option
                            v-for="item in dependencies.client_categories"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSend">Salvar Alteraçoes</el-button>
                <router-link :to="{name: 'client.index'}" class="el-button el-button--default">Cancel</router-link>
            </el-form-item>
        </el-form>
    </div>
</template>
