<script>
  import * as restfulService from '../../../../services/restfulService'
  import DataService from '../../../../services/dataService'
  import { mapGetters, mapActions } from 'vuex'
  import { isEmpty, isNumber } from 'lodash'

  export default {
    data () {
      return {
        filters: {
          category_id: ''
        },
        dependencies: {}
      }
    },
    created () {
      this.getDependencies()
      restfulService.all('client')
        .then(response => {
          this.setListOriginalData(response)
          this.handleCurrentChange(this.listCurrentPage)
        })
    },
    computed: {
      ...mapGetters(['listOriginalData', 'listData', 'listTotal', 'listPerPage', 'listCurrentPage'])
    },
    methods: {
      ...mapActions(['setListOriginalData', 'setListData', 'setListPerPage', 'setListCurrentPage']),
      getDependencies () {
        DataService.get([{domain: 'client_categories'}]).then((result) => {
          this.dependencies = result
        })
      },
      onFilter () {
        if (!isEmpty(this.filters.name)) {
          this.listData = this.listData.filter((item) => {
            return item.name.includes(this.filters.name)
          })
        }
        if (isNumber(this.filters.category_id)) {
          this.listData = this.listData.filter((item) => {
            return item.category_id === this.filters.category_id
          })
        }
        this.handleCurrentChange(1, this.listData)
      },
      onFilterClean () {
        this.filters = {
          category_id: ''
        }
        this.listData = this.listOriginalData
        this.handleCurrentChange(1)
      },
      onDestroy (item) {
        const id = item.id
        restfulService.destroy('client', id)
          .then(() => {
            this.listData = this.listData.filter(obj => obj.id !== id)
          })
          .catch(e => {
            console.log(e)
          })
      },
      handleSizeChange (val) {
        this.setListPerPage(val)
        this.handleCurrentChange(this.listCurrentPage)
      },
      handleCurrentChange (page, list) {
        this.setListCurrentPage(page)
        list = list || this.listOriginalData
        let start = ((page - 1) * this.listPerPage)
        let end = start + this.listPerPage
        if (list !== undefined && list !== null && list.length > 0) {
          let newList = list.slice(start, end)
          this.setListData(newList)
        }
      }
    }
  }
</script>

<template>
    <div>
        <div class="app-header">
            <h2>Clientes</h2>
            <router-link :to="{ name: 'client.create' }" class="el-button el-button--success">
                Novo Cliente
            </router-link>
        </div>

        <el-card class="el-card__search_list box-card">
            <div slot="header">
                <span>Pesquisa</span>
                <div>
                    <el-button type="primary" @click="onFilter">Pesquisar</el-button>
                    <el-button type="default" @click="onFilterClean">Limpar</el-button>
                </div>
            </div>
            <el-form :inline="true" :model="filters" class="demo-form-inline">
                <el-form-item label="Nome">
                    <el-input v-model="filters.name" placeholder="Filtrar por nome"></el-input>
                </el-form-item>
                <el-form-item label="Tipo de Pessoa">
                    <el-select v-model="filters.category_id"
                               filterable
                               placeholder="Filtrar por tipo de pessoa">
                        <el-option
                                v-for="item in dependencies.client_categories"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
        </el-card>

        <h2>Lista de Clientes</h2>
        <table class="custom-table-list">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Tipo de Pessoa</th>
                <th width="200">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in listData">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.cpf}}</td>
                <td>{{item.category_id}}</td>
                <td>
                    <div class="btn-actions">
                        <router-link :to="{ name: 'client.edit', params: { id: item.id } }"
                                     class="el-button el-button--small el-button--info">
                            <i class="el-icon-edit"></i>
                            <span>Editar</span>
                        </router-link>
                        <el-button type="danger"
                                   size="small"
                                   icon="delete2"
                                   @click="onDestroy(item)">
                            Remover
                        </el-button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <el-pagination
                :page-sizes="[5, 25, 50, 100]"
                :page-size="listPerPage"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page.sync="listCurrentPage"
                layout="sizes, prev, pager, next"
                :total="listTotal">
        </el-pagination>
    </div>
</template>
