<template>
    <div id="app">
        <RootHeader></RootHeader>
        <div :class="{ 'container': isLogged }">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
  import RootHeader from '../components/root/header/main.vue'
  import { mapGetters } from 'vuex'

  export default {
    name: 'App',
    components: {RootHeader},
    computed: {
      ...mapGetters(['isLogged'])
    }
  }
</script>

<style src="assets/sass/app.scss" lang="scss"></style>
