@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html, body {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.page,
#app > div {
  height: 100%;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.el-menu {
  border-radius: 0 !important;
}

a.el-button {
  text-decoration: none;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.el-submenu.el-submenu-right {
  float: right !important;

  > .el-menu {
    right: 0 !important;
    left: auto !important;
  }
}

.el-select-full {
  width: 100% !important;
}

.el-card__search_list {
  .el-card__header {
    padding: 8px 14px !important;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .el-card__body {
    padding: 8px 14px !important;
    .el-form--inline .el-form-item {
      margin-bottom: 5px !important;
      .el-form-item__label {
        display: block;
        text-align: left;
        padding: 2px 0 6px;
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
}
.el-pagination {
  text-align: center;
  padding: 15px 0 !important;
}

.custom-table-list {
  border-collapse: collapse;
  width: 100%;

  thead {
    th {
      background-color: #eef1f6;
      text-align: left;
      padding: 12px;
      font-size: 12px;
    }
  }

  th,td {
    border: 1px solid #dfe6ec;
    padding: 6px 12px;
    font-size: 14px;
  }
}